<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">
    
    <ion-list>
      <ion-item>
        <ion-input label="Cédula:"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Nombre Completo:" placeholder="Ej. John Doe"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Dirección:" value="121 S Pinckney St #300"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Pais:" value="Ecuador" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Código Postal" value="12345678" [disabled]="true"></ion-input>
      </ion-item>
    </ion-list>
    <ion-datetime>
    </ion-datetime>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Usuario</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>Cerrar</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
    <br>
    <div class="label-left">
      <ion-label>Sexo:</ion-label>
    </div>
    <ion-radio-group value="masculino">
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio value="masculino"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Femenino</ion-label>
        <ion-radio value="femenino"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-checkbox>Acepto terminos y condiciones</ion-checkbox>
    <ion-button id="open-toast" expand="block" class="ion-padding">Enviar</ion-button>
    <ion-toast trigger="open-toast" message="Se ha enviado el formulario"
      [duration]="5000"></ion-toast>
  </div>
</ion-content>